/* ==UserStyle==
@name           EvaTeam compact
@namespace      github.com/openstyles/stylus
@version        1.0.0
@description    Compact interface for EvaTeam.ru (JIRA competitor)
@author         Pavel Alexeev <Pahan@Hubbitus.info>
==/UserStyle== */

@-moz-document regexp("^https?://eva[-\\d\\w]*\\..*") {
	/**
	* Main URLs to check against:
	* - https://eva.gid.team/project/Roadmap/RM-000059#rabota-komandy-po-proektu-mrg
	* - https://eva.gid.team/project/Task/DEVOPS-8327#grafana-dovesti-do-sostojanija-prigodnogo-dlja-raboty
	* - https://eva.gid.team/project/Roadmap/RM-000059?obj=Task:GIDMRG-155#razrabotka-poyasnitelnoj-zapiski-tehnicheskogo-proekta - popup task view
	* - https://eva.gid.team/project/Registry/RGS-000511#trebovanija requirements
	* - https://eva.gid.team/project/Document/DOC-000059#dokumenty documents main
	* - https://eva.gid.team/project/Document/DOC-028499#vitrina-datanova-datamart-fct-datanova document example
	**/

	[_nghost-ng-c2545820640] {
		--node-min-height: 20px !important;
		--tree-margin-top: 0 !important;
		--new-mode-tree-node-padding-left: 0 !important;
		--nested-nodes-first-level-padding-left: 29px !important;
		--node-settings-margin: 0 !important;
		--nested-nodes-name-item-margin: 0 !important;

		--default-line-height: 20px !important;
	}
	[_nghost-ng-c2160805558] {
		gap: 0;
	}
	[_nghost-ng-c3533757378]{
		padding: 0;
	}

	:root body[data-tui-theme] {
		--tui-padding-s: 0px;
	}
	html {
		--menu-padding-right: 0px !important;
		--feed-content-margin-left: 0 !important;
		--tui-padding-s: 0 !important;
		--default-line-height: 90% !important;
	}

	.inline-edit-wrapper {
		align-items: center !important;
	}

	/** Top header **/
	.project-content {
		padding: 0 !important;
		margin: 0 !important;
	}

	mat-drawer, header.main__menu {
		height: 32px !important; /*???*/
	}
	mat-drawer.drawer-header {
		z-index: 90;
	}
	mat-drawer-content.drawer-container, .drawer-container .drawer-content.displaced 	 {
		height: 100%;
	}
	mat-drawer-content.mat-drawer-content {
		z-index: 100;
	}
	.drawer-container .drawer-content.displaced {
		margin-top: 32px !important;
		height: calc(100vh - 32px) !important;
	}
	.page__navigate { /* project name */
		top: 6px;
		right: 590px;
		background: lightgoldenrodyellow;
		z-index: 120;
		opacity: 0.8;
		width: auto !important;
		height: 20px;
		border-radius: 5px;
		display: flex;
		align-items: center;
	}
	.page__navigate .hamburger, .page__navigate .hamburger app-cmf-navigate-panel, .page__navigate .hamburger .navigate__selected__item {
		margin: 0 !important;
		padding: 0 !important;
	}
	.page__navigate .hamburger .navigate__selected__item .selected__item__title {
		display: contents !important;
	}

	.toolbar {
		position: initial;
		right: 0;
		width: 100% !important;
		margin-top: -5px;
		padding: 0px 10px 5px 10px;
		z-index: 100;
		/* background: #a3a8a32e; */
	}
	.toolbar .left {
		z-index: 50;
		margin-top: -3px;
		width: fit-content;
		padding-right: 0px;
		height: 32px;
	}
	.toolbar .toolbar__right {
		right: 33px !important;
		top: -6px !important;
	}
	#task-popup-dialog .toolbar__right {
		right: 15px !important;
		top: 1px !important;
	}
	.gantt__layout {
		height: calc(100% - 22px);
	}
	.gantt__header {
		margin-top: -3px !important;
	}
	.gantt__layout__tree, .gantt__layout__chart, .resize-controller-x-gantt {
		height: calc(100% + 45px);
	}
	.mat-icon-button {
		line-height: 36px;
	}

	body:has(.gantt) .project-module {
		margin-top: -26px;
	}
	.project-module.displaced, .wrapper__left.displaced, .wrapper__right.displaced, .project-module .mat-sidenav-content.displaced {
	/*	height: calc(100vh - 3px) !important; Break layout on requirements! */
	}
	#section-to-print, .project-module, .mat-drawer-content, .wrapper__left, .wrapper__right {
		height: calc(100vh - 33px) !important;
		overflow-y: clip;
	}
	.scrollable-block {
		overflow-y: auto;
		height: 100% !important;
	}
	wg-cmf-search .trigger-input-icon {
		top: 4px !important;
	}
	wg-cmf-search input.trigger-input {
		padding-left: 28px !important;
	}
	/** /Top header **/

	/** Tree of docs at left **/
	/* Tree of docs at left: Break long doc names in left tree */
	.cmf-tree .overflow-ellipsis .node-name-item > span {
		white-space: break-spaces;
		line-height: 0.9;
	}
	/* Tree of docs at left: list items */
	.sub__menu {
		top: 0 !important;
		height: calc(100vh - 29px) !important;
		/* overflow: auto; /* scrollbars at left. TODO break mouse resizing */
		scrollbar-width: thin;
		margin-left: -17px !important;
	}
	/* Compact chapters */
	.project-module-sidenav.displaced, #tree-scroll-container {
		height: calc(100vh - 85px) !important;
	}
	.cmf-tree-container.new-mode {
		padding-top: 0 !important;
	}
	.node-settings { /* node 3 dots right menu */
		margin: 0 0 0 0px !important;
	}
	.confluence-tree-footer {
		margin-top: 0 !important;
	}

	/* show list bullets */
	.cmf-tree-container mat-nested-tree-node .nested-nodes mat-tree-node a .node-name .node-name-item /* main items */
	,.tree-all-tasks .wrap .child-node > span:first-child /* tasks on desk e.g. https://eva.gid.team/desk/Task/SECR-18 */
	,.favorites .left-favorites__menu__item .mark-wrapper /* favorites left menu e.g. https://eva.gid.team/desk/favorites/all */
	{ /* nested tree items: level 2, 3... */
		display: list-item !important;
		list-style: circle outside !important;
		margin: 0 0 0 4px !important;
		width: 100% !important;
	}
	.cmf-tree .nested-nodes .node-name {
		padding-left: 12px !important;
	}
	.mat-icon-rtl-mirror, .mat-icon-arrow {
		visibility: visible !important; /* Always show icons of group open */
	}
	.mat-icon-rtl-mirror {
		margin: 3px 0 0 -3px;
	}

	/* wrap lines */
	.cmf-tree .overflow-ellipsis .node-name, .cmf-tree .overflow-ellipsis .node-name-item, .cmf-tree .overflow-ellipsis .node-name-item > span, .left-favorites__menu__item__title { /* items word-wrapping */
		line-height: 1.2;
		overflow-wrap: break-word !important;
		hyphens: auto !important;
		overflow: visible !important;
		white-space: wrap !important;
		text-wrap: pretty;
		width: 100% !important;
		max-width: 100% !important;
	}

	/* favorites */
	.tree-all-tasks .wrap .child-node {
		height: 17px !important;
	}
	.left-menu-item {
		margin-top: 0;
		margin-bottom: 0;
	}
	.favorites .left-favorites__menu__item {
		padding-top: 0 !important;
		padding-bottom: 0 !important;
		padding-right: 0 !important;
	}
	.favorites .left-favorites__menu__item .context {
		padding-left: 0 !important;
	}
	.favorites button {
		padding: 0 !important;
	}
	/** /Tree of docs at left **/

	/** Fix task code truncation in tasks links list **/
	wg-related-req-object .line-req {
		grid-template-columns: max-content auto auto auto auto auto !important;
	}
	.item-link {
		overflow: visible !important;
		white-space: normal !important;
		hyphens: auto;
		font-size: 90%;
		display: inline-block;
		line-height: 13px;
	}

	/** Task view **/
	h1, h2, h3, h4, h5, h6, p, wg-field, .expansion-panel-header, .wrapper__right, .content__full, .mode-list, .mode-gantt, .project-module-sidenav, div.content-item:not(.task-result), .app-comment-form {
		margin: 0 !important;
		padding: 0 !important;
	}
	.toolbar {
		/* margin-top: 24px !important; Break roadmap: https://eva.gid.team/project/Roadmap/RM-000059 */
		margin-left: 0 !important;
	}
	#ganttChartToolbarId.toolbar {
		top: 0 !important;
	}
	.mode-list, .mode-gantt {
		padding: 0 5px !important;
	}
	.gantt .header {
		height: 20px !important;
		width: fit-content;
		margin-left: 210px;
		line-height: 1.2;
	}
	.content .form { /* main task view - full screen */
		margin-right: 5px;
		margin-left: 5px;
	}
	#task-popup-dialog .content .form { /* popup task view (e.g. in tasks list, roadmap and so on ) */
		padding: 5px !important;
		margin-top: 0;
	}
	.project-module-sidenav {
		height: 100%;
	}
	.crud__group__wrapper, .task-result, app-subtask-related-task, frm-task div:has(.activity-title), frm-cmf-related-object-list { /* Task blocks like "Описание", "Дочерние задачи", "Связанные задачи", "Активность" */
		/* margin-top: 5px !important; */
		border: 1px solid lightgrey;
		border-radius: 5px;
		padding: 5px;
		margin-top: 5px;
	}
	.crud__group__wrapper {
		margin-top: 0;
	}
	#task-popup-dialog frm-task .body {
		padding-top: 0;
		margin-top: 0;
	}
	.crud__group__wrapper h2:first-child, .task-result h2:first-child, app-subtask-related-task .group-title, .activity-title, frm-cmf-related-object-list .groups-list-title { /* Description and result headers */
		width: max-content;
		border-right: 1px solid lightgray;
		border-bottom: 1px solid lightgray;
		border-radius: 5px 0 5px 0 !important;
		background: #d3d3d35c;
		position: relative;
		top: -5px;
		left: -5px;
		padding: 0 !important;
		margin: 0 !important;
	}
	.tasks-list-title:after {
		content: ":";
		margin-left: -4px;
	}
	.task-result {
		margin-top: 5px !important;
	}
	.expansion-panel-header {
		border: 1px solid var(--expansion-panel-border-color);
		border-radius: 20px;
		top: -2px !important;
		height: auto !important;
	}
	.expansion-panel-header::before {
		display: none;
	}
	.expansion-panel-header .header, .expansion-panel-header .group-header {
		padding-left: 1em;
		line-height: 20px !important;
	}
	.expansion-panel-content {
		margin-top: -11px;
		padding: 10px 10px 0 10px !important;
		border-radius: 0 0 5px 5px !important;
	}
	wg-field:has(wg-field-title.tags) {
		display: flex;
	}
	wg-field:has(wg-field-title.tags) wg-field-title {
		margin: auto 4px auto 0;
	}

	wg-field .content {
		padding: 0 !important;
	}

	[_nghost-ng-c1721141748] .content[_ngcontent-ng-c1721141748] .form[_ngcontent-ng-c1721141748] {
		padding: 0 1em 1em 1em;
	}
	.activity-title[_ngcontent-ng-c1721141748] {
		float: left;
	}
	.activity-title[_ngcontent-ng-c1721141748] app-cmf-icon::before {
		content: ":";
		visibility: visible;
	}
	.content__left-full div:has(h2.activity-title){
		border: 1px solid var(--expansion-panel-border-color);
		margin-top: 2px;
	}
	.content__right-wrapper, .content__right {
		margin: 0 !important;
	}
	.content__right .status-wrapper {
		margin: 5px 0;
	}
	.form__title {
		font-size: 22px;
		margin: 0px 0 1px 0 !important;
		text-shadow: 1px 2px 5px #0745a6;
	}
	.form__title .inline-edit-button, .form__title .inline-edit {
		min-height: 33px;
	}
	.form-header-tags {
		margin: 3px 0 1px 0;
	}
	.mce-content-body a.wiki-card-text { /* Other content links (tasks, wiki documents etc) */
		background: #5555550f;
		border: 0;
	}
	.mce-content-body pre { /* Fix code to use mono font */
		font-family: "Latin modern mono","Andale mono","Courier new" !important;
	}

	wg-related-task-object .line-subtask {
		/* grid-template-columns: 100px minmax(50px, 1fr) 124px 28px 14px 24px; */
		grid-template-columns: max-content auto max-content 26px 14px 24px !important;
		gap: 1px !important;
		height: auto !important;
		min-height: 20px !important;
	}
	wg-related-task-object .delete-icon /* task links */, frm-cmf-related-object-list .delete-btn /* page links */ {
		right: -24px !important;
		top: 4px !important;
		box-shadow: 0px 1px 11px 9px rgba(34, 60, 80, 0.2);
		background-color: azure;
		border-radius: 10px;
	}
	frm-cmf-related-object-list .card, wg-related-wiki-object .card {
		margin-right: 0 !important;
		height: auto !important;
		line-height: 0.9em !important;
	}
	frm-cmf-related-object-list .card:before {
		content: "‣";
		margin-right: -4px;
	}
	.item-subtask.status button {
		text-transform: lowercase !important;
	}
	.item-subtask.status button span:first-letter {
		text-transform: uppercase !important;
	}
	frm-cmf-related-object-list {
		margin-bottom: 3px !important;
	}
	.workflow-button {
		font-size: 13px;
		white-space: nowrap;
	}

	/** Fix broken priority icons without image and long text: "Такой иконки нет или она еще не добавлена в код" **/
	app-cmf-doodle-icon[title="undefined"]:after {
		content: "⁈";
		color: red;
		visibility: visible;
		display: block;
	}
	app-cmf-doodle-icon[title="undefined"] {
		visibility: hidden;
		height: 16px !important;
		width: 16px !important;
	}/** /Fix broken priority icons without image and long text: "Такой иконки нет или она еще не добавлена в код" **/

	/** Full overlay - task workflow **/
	.cdk-overlay-pane:has(dlg-cmf-workflow-task) {
		max-width: 100% !important;
		width: calc(100% - 2em);
		height: calc(100% - 2em);
	}
	.cdk-overlay-pane .dialog__body {
		width: 100%;
		height: 100%
	}
	.cdk-overlay-pane .cmf-dialog__header {
		margin-bottom: 0;
	}
	.cdk-overlay-pane .cmf-dialog__content {
		max-height: 100%;
	}
	/** /Full overlay - task workflow **/

	/** Full width task page **/
	.normal-screen {
		max-width: 100%;
	}
	.body__full {
		max-width: 100%;
		padding: 0 5px !important;
		margin: 5px !important;
	}
	.toolbar.full, .toolbar.full .toolbar__left-full {
		padding: 0 !important;
		margin: 0 !important;
		width: 100%;
		display: flex;
		height: 25px;
	}
	.toolbar.full {
		margin: 1px 0 -3px 4px !important;
		display: contents;
	}
	/** /Full width task page **/
	/** Popup task view **/
	#task-popup-dialog {
		border-radius: 10px !important;
		inset: 4em;
		max-width: fit-content;
		width: auto;
		height: auto;
		max-height: fit-content;
		margin: auto;
	}

	#task-popup-dialog .toolbar {
		margin: 0px 0px 0px 5px !important;
		padding: 0px;
		height: 25px;
		position: initial;
	}
	#task-popup-dialog .content {
		padding: 5px;
	}
	frm-task .content__left {
		padding: 0 5px 5px 5px !important;
	}
	#task-popup-dialog frm-task .content .content__left {
		padding-top: 0 !important;
	}

	frm-task-tabs .tabs, app-subtask-related-task .groups-list-title {
		margin: 0 !important;
	}
	app-subtask-related-task {
		margin: 5px 0 0 0 !important;
	}
	/** /Popup task view **/
	/** /Task view **/

	/** Task filters (lists) **/
	.feed-module {
		height: calc(100vh - 33px) !important;
	}
	/** /Task filters (lists) **/

	/** Roadmap view like https://eva.gid.team/project/Roadmap/RM-000059#rabota-komandy-po-proektu-mrg **/
	.grid-row {
		font-size: clamp(60%, 100%, 110%);
	}
	.column {
		padding: 2px !important;
	}
	.column .name {
		white-space: normal !important;
	}
	.column .node-icon { /* Group open icons */
		margin: -8px 1px 1px 1px;
	}
	.column .node-icon:has(svg[fill=none]) { /* Issue type icon */
		margin-top: -2px;
	}
	/** /Roadmap view **/

	/** Docs, requirements **/
	frm-cmf-breadcrumbs, frm-cmf-breadcrumbs .info-item {
		height: 17px !important;
		padding: 0 !important;
	}
	.toolbar .left .info {
		top: 3px;
		height: 25px;
		background: transparent;
	}
	.toolbar .left .info-item {
		padding-top: 0 !important;
		top: -5px;
		height: 25px;
	}
	.breadcrumbs.breadcrumbs-toolbar {
		border-bottom: 1px dotted;
	}
	.reference {
		height: 20px !important;
		margin-top: 0 !important;
	}
	.tools-wrapper {
		margin-top: 12px;
	}
	.document {
		padding: 30px 10px 10px 10px;
	}
	frm-cmf-req-registry h1 {
		height: 25px !important;
		line-height: 1.2;
		text-align: center;
	}
	wg-accordion-crud {
		margin: 0 !important;
	}
	.page-wrapper {
		margin: 1em !important;
	}

	/*** Docs ***/
	.document .header {
		margin-top: -4px;
	}

	app-cmf-document-editor .tox:not(.tox-tinymce-inline) .tox-editor-header { /* Editor panel */
		box-shadow: -4px 4px 8px 8px rgba(34, 60, 80, 0.2);
		right: 0;
		top: 32px !important;
	}
	/*** /Docs ***/
	/** /Docs, requirements **/

	/** Kanban board **/
	.kanban-wrapper .upper, .kanban-wrapper .rows-container, .kanban-wrapper .kanban-row, .kanban-wrapper .wrap-plan-dates, .kanban-wrapper .mat-form-field-wrapper,
	.kanban-wrapper .mat-form-field-appearance-legacy .mat-form-field-infix, .kanban-wrapper .swimlane__control, .kanban-wrapper .main-kanban .kanban__titles .kanban__column,
	.kanban-wrapper .main-kanban .kanban__titles .kanban__column .column__title {
		padding: 0 !important;
		margin: 0 !important;
		border: 0 !important;
	}
	.swimlane__control {
		top: 81px !important;
	}
	.kanban-wrapper {
		height: calc(100vh - 30px) !important;
		scrollbar-width: thin;
	}
	.kanban-wrapper .description__content {
		float: left;
	}
	.kanban-wrapper .wrap-plan-dates {
		float: right;
	}
	.kanban-wrapper .quick-filters {
		gap: 2px !important;
		padding-top: 5px !important;
	}
	.kanban-wrapper .quick-filters .button {
		padding: 0 1px !important;
		line-height: inherit !important;
	}
	.kanban-wrapper .rows-container .quick-filters-panel-wrapper {
		margin-bottom: 0 !important;
	}
	.kanban-wrapper .mat-form-field-label-wrapper {
		top: -14px;
		padding-top: 18px;
	}
	.kanban-wrapper .main-kanban .kanban__titles .kanban__column .column__title {
		height: 23px !important;
		padding: 0 4px !important;
	}
	.kanban-wrapper .description__text {
		position: relative;
		top: 10px;
	}

	.kanban-wrapper .kanban__titles, .kanban-wrapper .kanban {
		gap: 3px !important;
	}
	.kanban-wrapper .card {
		margin-top: 2px !important;
		padding: 2px 2px 2px 8px;
	}

	/* Cards: */
	.cdk-drag-preview .card__left .card-info .card-tags .card-tag, .card .card__left .card-info .card-tags .card-tag {
		height: 16px !important;
	}
	.cdk-drag-preview .card__left .card-info .card-tags .card-tag span, .card .card__left .card-info .card-tags .card-tag span {
		padding: 0 2px !important;
	}
	.cdk-drag-preview .card__left .card-info .card-tags, .card .card__left .card-info .card-tags {
		gap: 2px !important;
	}
	.cdk-drag-preview .card__left, .card .card__left {
		gap: 0 !important;
	}
	/* Cards/ */

	/** Implied installed and enabled HuEvaLinks - https://github.com/Hubbitus/eva-links-fixer.user.js **/
	.task-links .hueva-copy-btn, .task-links .hueva-direct-link {
		opacity: 0.2;
		padding: 0 !important;
	}

	wg-kanban-card .task-links {
		align-items: start !important;
		display: block !important;
	}
	wg-kanban-card .hueva-direct-link {
		position: absolute;
		right: 4px;
		margin: 5px 8px 0 0 !important;
		z-index: 2;
	}
	wg-kanban-card .hueva-copy-btn {
		position: absolute;
		right: -2px;
		margin-top: 1px !important;
	}
	/** /Kanban board **/

	/** Tasks list (e.g. https://eva.gid.team/filter/BqlFilter/RFBF-005172#data-devops-tasks) **/
	frm-cmf-task-filter frm-filter-editor, frm-cmf-task-filter .task-filter-name-wrapper, .task-list-wrapper {
		padding: 0 !important;
		margin: 0 !important;
	}

	cmf-button, wg-filter-button, button, input {
		height: 20px !important;
		min-height: 12px !important;
		line-height: 12px !important;
		padding: 0 5px !important;
		vertical-align: middle;
	}

	frm-cmf-task-filter .task-filter-name-wrapper {
		align-items: baseline !important;
	}
	wg-cmf-task-filter-fields-settings {
		position: absolute !important;
		right: 0;
		width: 10em;
	}
	wg-dropdown-selector button {
		margin: 0 !important; /* Fis "столбцы" dropdown */
	}
	wg-cmf-list-pg .table__titles {
		padding: 0 !important;
		background-color: #d3d3d387;
		word-wrap: anywhere;
	}
	wg-cmf-list-pg .table__titles .header {
		font-weight: bold;
		font-size: 100%;
	}
	wg-cmf-list-pg .table__rows .extlist__col {
		min-height: 15px !important;
		font-size: 90%;
		padding: 1px 2px !important;
		border-right: 1px inset #d3d3d32e;
		align-items: center;

		overflow-wrap: break-word !important;
		hyphens: auto !important;
/*		overflow: visible !important; */
		white-space: wrap !important;
		text-wrap: pretty !important;
		word-break: break-all !important;

		line-height: 12px;
	}
	wg-cmf-list-pg .table__rows .extlist__col .task-links {
		align-items: first baseline;
		line-height: 12px;
	}
	wg-cmf-list-pg .inline-edit-wrap .inline-edit .inline-edit-text {
		/* word-break: break-all !important;*/
		hyphens: auto;
	}
	wg-cmf-list-pg .inline-edit-wrap button {
		height: 12px !important;
	}
	wg-cmf-list-pg .table__rows .row {
		align-items: center;
	}
	/** Show oure HuEvaLinks only in first table cell in row! **/
	wg-cmf-list-pg .table__rows .row .extlist__col:first-child .task-links {
		width: 100%;
		display: grid !important;
		grid-template-columns: auto 11px 13px !important;
	}
	wg-cmf-list-pg .table__rows .row .extlist__col:nth-child(n+2) .task-links .hueva-direct-link,
	wg-cmf-list-pg .table__rows .row .extlist__col:nth-child(n+2) .task-links .hueva-copy-btn,
	wg-cmf-list-pg .table__rows .row .extlist__col:nth-child(n+2) .buttons-hover {
		display: none !important;
	}
	/** /Show oure HuEvaLinks only in first table cell in row! **/

	.content-wrapper.displaced {
		height: calc(100vh - 62px) !important;
	}
	.table__footer {
		max-height: 19px !important;
	}

	/* Fix-workaround of disappeared priority icon with "medium" value */
	app-cmf-doodle-icon.priority-icon svg.ng-star-inserted path {
		stroke: var(--color-gray-aaa);
		stroke-width: 1px;
	}
	/** /Tasks list **/
}
